# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Testing & Caches
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs & Environment
*.log
.env
